* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

::placeholder {
  font-size: 0.9rem;
  color: white;
  font-family: "Poppins", sans-serif;
}

header {
  position: relative;
  width: 100%;
  height: 115vh;
  overflow: hidden;
}
header nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: white;
  z-index: 30;
  display: flex;
  justify-content: center;
}
header nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 71%;
}
header nav .container .menu {
  display: flex;
  align-items: center;
}
header nav .container .menu .menu-icon {
  font-size: 1.2rem;
  margin-left: 5px;
  display: none;
}
header nav .container .menu ul {
  display: flex;
  list-style: none;
}
header nav .container .menu ul li {
  margin: 0 10px;
}
header nav .container .menu ul li a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  transition: 0.4s;
}
header nav .container .menu ul li a:hover {
  color: #c1001e;
}
header nav .container .logo {
  display: flex;
  align-items: center;
}
header nav .container .logo img {
  width: 200px;
}
header nav .container .logo p {
  margin-left: 20px;
}
header .scene-bgc {
  top: 0;
  left: 0;
  width: 1920px;
  height: 115vh;
  z-index: 5;
}
header .scene-clouds-one {
  position: absolute;
  top: 0;
  left: 10vw;
  width: 1920px;
  z-index: 6;
}
header .scene-clouds-two {
  position: absolute;
  top: 0;
  right: 3vw;
  width: 1920px;
  z-index: 7;
}
header .scene-garden-left {
  position: absolute;
  width: 15%;
  left: 0;
  bottom: 0;
  z-index: 9;
}
header .scene-garden-right {
  position: absolute;
  width: 18%;
  right: 0;
  bottom: 0;
  z-index: 8;
}
header .scene-house {
  position: absolute;
  bottom: -5%;
  left: 0;
  width: 100%;
  z-index: 10;
}
header .scene-forest-one {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  z-index: 12;
}
header .scene-forest-two {
  position: absolute;
  top: -120px;
  left: 0;
  width: 20%;
  z-index: 11;
}

main .section-about-us {
  position: relative;
  display: flex;
  justify-content: center;
}
main .section-about-us .about-us {
  margin-top: 100px;
  width: 70%;
}
main .section-about-us .about-us h2 {
  letter-spacing: 3px;
}
main .section-about-us .about-us .border {
  height: 3px;
  width: 170px;
  background-color: black;
  margin-bottom: 50px;
}
main .section-about-us .about-us .about-us-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .section-about-us .about-us .about-us-content .about-us-text {
  width: 50%;
}
main .section-about-us .about-us .about-us-content .about-us-text p {
  text-align: justify;
  font-weight: 400;
}
main .section-about-us .about-us .about-us-content .about-us-img {
  width: 50%;
}
main .section-products {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding: 100px 0;
  background-color: #c1001e;
}
main .section-products .products {
  width: 70%;
}
main .section-products .products h2 {
  letter-spacing: 3px;
  color: white;
}
main .section-products .products .border {
  height: 3px;
  width: 170px;
  background-color: white;
  margin-bottom: 50px;
}
main .section-products .products .products-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .section-products .products .products-content .products-text p {
  text-align: justify;
  font-weight: 400;
  color: white;
  text-align: justify;
}
main .section-products .products .products-content .products-logo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
}
main .section-products .products .products-content .products-logo img {
  margin: 60px 20px;
  height: 100%;
}
main .section-offer {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 100px 0;
  background-image: url(../img/housebcg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
main .section-offer .offer {
  width: 70%;
}
main .section-offer .offer h2 {
  letter-spacing: 3px;
  color: white;
}
main .section-offer .offer .border {
  height: 3px;
  width: 170px;
  background-color: white;
  margin-bottom: 50px;
}
main .section-offer .offer .offer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .section-offer .offer .offer-content p {
  color: white;
  text-align: justify;
}
main .section-offer .offer .offer-content .box {
  width: 380px;
  height: 400px;
  background-color: white;
  margin: 50px 0;
}
main .section-offer .offer .offer-content .contact img {
  width: 100%;
  padding: 1px;
}
main .section-offer .offer .offer-content .contact .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .section-offer .offer .offer-content .contact .content h3 {
  font-weight: 400;
  padding: 10px;
}
main .section-offer .offer .offer-content .contact .content p {
  padding: 20px 20px;
  font-size: 0.9rem;
  text-align: justify;
  color: black;
}
main .section-gallery {
  position: relative;
  display: flex;
  justify-content: center;
}
main .section-gallery .gallery {
  width: 70%;
}
main .section-gallery .gallery h2 {
  margin-top: 100px;
  letter-spacing: 3px;
  color: black;
}
main .section-gallery .gallery .border {
  height: 3px;
  width: 170px;
  background-color: black;
  margin-bottom: 50px;
}
main .section-gallery .gallery .gallery-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}
main .section-gallery .gallery .gallery-images .carousel-one-container {
  overflow: hidden;
  position: relative;
}
main .section-gallery .gallery .gallery-images .carousel-one-container .carousel-one-slide {
  display: none;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
main .section-gallery .gallery .gallery-images .carousel-one-container .carousel-one-slide img {
  width: 100%;
  height: auto;
}
main .section-gallery .gallery .gallery-images .prev-button,
main .section-gallery .gallery .gallery-images .next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 8px 12px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}
main .section-gallery .gallery .gallery-images .prev-button {
  left: 10px;
}
main .section-gallery .gallery .gallery-images .next-button {
  right: 10px;
}
main .section-contact {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding: 100px 0;
  background-color: #c1001e;
}
main .section-contact .contact {
  width: 70%;
}
main .section-contact .contact h2 {
  letter-spacing: 3px;
  color: white;
}
main .section-contact .contact .border {
  height: 3px;
  width: 170px;
  background-color: white;
  margin-bottom: 50px;
}
main .section-contact .contact .form-container {
  margin-top: 100px;
}
main .section-contact .contact .form-container .name-and-email {
  display: flex;
}
main .section-contact .contact .form-container .name-and-email .name-input {
  width: 100%;
  border-bottom: 1px solid rgb(255, 255, 255);
  margin-right: 10px;
}
main .section-contact .contact .form-container .name-and-email .name-input input {
  border: none;
  width: 100%;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  padding: 5px 5px;
}
main .section-contact .contact .form-container .name-and-email .name-input input:focus {
  outline: none;
}
main .section-contact .contact .form-container .name-and-email .email-input {
  width: 100%;
  border-bottom: 1px solid rgb(255, 255, 255);
  margin-left: 10px;
}
main .section-contact .contact .form-container .name-and-email .email-input input {
  border: none;
  width: 100%;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  padding: 5px 5px;
}
main .section-contact .contact .form-container .name-and-email .email-input input:focus {
  outline: none;
}
main .section-contact .contact .form-container .subject-input {
  width: 100%;
  margin: 20px 0;
  border-bottom: 1px solid rgb(255, 255, 255);
}
main .section-contact .contact .form-container .subject-input input {
  border: none;
  width: 100%;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  padding: 5px 5px;
}
main .section-contact .contact .form-container .subject-input input:focus {
  outline: none;
}
main .section-contact .contact .form-container .message-input {
  width: 100%;
  margin: 20px 0;
  border-bottom: 1px solid rgb(255, 255, 255);
}
main .section-contact .contact .form-container .message-input textarea {
  border: none;
  width: 100%;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  font-family: "Poppins";
  padding: 5px 5px;
}
main .section-contact .contact .form-container .message-input textarea:focus {
  outline: none;
}
main .section-contact .contact .form-container .button-container {
  text-align: center;
  padding: 40px 0 40px 0;
}
main .section-contact .contact .form-container .btn-send {
  padding: 10px 50px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  transition: 800ms;
}
main .section-contact .contact .form-container .btn-send:hover {
  background-color: white;
  color: #c1001e;
}
main .section-contact .contact .phone {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .section-contact .contact .phone .phone-text {
  margin-top: 30px;
}
main .section-contact .contact .phone .phone-number {
  font-size: 2rem;
  font-weight: 700;
}
main .section-contact .contact .phone p {
  color: white;
}

footer {
  background-color: #313131;
  display: flex;
  justify-content: center;
}
footer .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  padding: 70px 0;
}
footer .footer-content p {
  color: white;
  font-size: 0.9rem;
  text-align: center;
}
footer .footer-content .author {
  margin-top: 20px;
  font-size: 0.7;
}
footer .footer-content .logo-ko {
  margin-top: 15px;
  width: 70px;
}

.big-container-thanks {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.big-container-thanks .container-thanks {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.big-container-thanks .container-thanks p {
  margin: 10px 0 10px 0;
}
.big-container-thanks .container-thanks .btn-back-home {
  padding: 5px 30px;
  background-color: transparent;
  border: 1px solid #313131;
  border-radius: 10px;
  color: #313131;
  font-size: 0.8rem;
  text-transform: uppercase;
  transition: 800ms;
}
.big-container-thanks .container-thanks .btn-back-home:hover {
  border: 1px solid white;
  background-color: #c1001e;
  color: #ffffff;
}

@media (max-width: 992px) {
  header {
    height: 50vh;
  }
  header nav .container {
    display: flex;
    align-items: flex-start;
  }
  header nav .container .logo {
    margin-top: 5px;
  }
  header nav .container .logo img {
    width: 150px;
  }
  header nav .container .logo p {
    display: none;
  }
  header nav .container .menu {
    margin-top: 5px;
    align-items: flex-start;
  }
  header nav .container .menu .expand-menu {
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    right: 15%;
    top: 100%;
    padding: 20px;
  }
  header nav .container .menu .expand-menu li a {
    font-size: 0.8rem;
  }
  header nav .container .menu .hidden {
    display: none;
  }
  header nav .container .menu .menu-icon {
    margin-top: 3px;
    display: flex;
  }
  header .scene-clouds-one {
    top: -50%;
    left: -50%;
  }
  header .scene-clouds-two {
    top: 30%;
    right: -10%;
  }
  header .scene-forest-one {
    width: 50%;
  }
  header .scene-forest-two {
    width: 23%;
    top: 15%;
  }
  main .section-about-us .about-us .about-us-content {
    flex-direction: column;
  }
  main .section-about-us .about-us .about-us-content .about-us-text {
    width: 100%;
  }
  main .section-about-us .about-us .about-us-content .about-us-image {
    width: 100%;
  }
  main .section-about-us .about-us .about-us-content .about-us-image img {
    margin-top: 50px;
    width: 100%;
  }
  main .section-products .products .products-content .products-logo {
    justify-content: center;
  }
  main .section-products .products .products-content .products-logo img {
    width: 150px;
    margin: 60px 20px 20px 20px;
  }
  main .section-offer .offer .offer-content {
    justify-content: center;
  }
  main .section-gallery .gallery {
    width: 90%;
  }
  main .section-gallery .gallery h2 {
    margin-left: 11%;
  }
  main .section-gallery .gallery .border {
    margin-left: 11%;
  }
  main .section-gallery .gallery .gallery-images .carousel-one-container .carousel-one-slide {
    display: none;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  main .section-gallery .gallery .gallery-images .carousel-one-container .carousel-one-slide img {
    width: 100%;
    height: auto;
  }
  main .section-gallery .gallery .gallery-images .prev-button,
  main .section-gallery .gallery .gallery-images .next-button {
    position: absolute;
    top: 92%;
    transform: translateY(-50%);
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    font-size: 0.6rem;
    cursor: pointer;
  }
  main .section-contact .contact .form-container .name-and-email {
    flex-direction: column;
  }
  main .section-contact .contact .form-container .name-and-email .name-input {
    margin-right: 0;
  }
  main .section-contact .contact .form-container .name-and-email .email-input {
    margin-left: 0;
  }
}
@media (max-width: 992px) and (max-height: 450px) {
  header {
    height: 100vh;
  }
  header .scene-forest-one {
    width: 40%;
  }
  header .scene-forest-two {
    width: 20%;
    top: -30%;
  }
  header .scene-house {
    top: -30%;
  }
  header .scene-garden-left {
    bottom: -5%;
  }
  header .scene-garden-right {
    bottom: 0;
  }
}
@media (max-width: 1400px) {
  header nav .container p {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */