* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

::placeholder {
    font-size: 0.9rem;
    color: white;
    font-family: 'Poppins', sans-serif;
}

header {
    position: relative;
    width: 100%;
    height: 115vh;
    overflow: hidden;

    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        background-color: white;
        z-index: 30;
        display: flex;
        justify-content: center;

        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 71%;

            .menu {
                display: flex;
                align-items: center;

                .menu-icon {
                    font-size: 1.2rem;
                    margin-left: 5px;
                    display: none;
                }

                ul {
                    display: flex;
                    list-style: none;

                    li {
                        margin: 0 10px;

                        a {
                            color: black;
                            text-decoration: none;
                            text-transform: uppercase;
                            font-size: 0.9rem;
                            transition: 0.4s;
                        }

                        a:hover {
                            color: #c1001e;
                        }
                    }
                }
            }

            .logo {
                display: flex;
                align-items: center;

                img {
                    width: 200px;
                }

                p {
                    margin-left: 20px;
                }
            }
        }
    }

    .scene-bgc {
        top: 0;
        left: 0;
        width: 1920px;
        height: 115vh;
        z-index: 5;
    }

    .scene-clouds-one {
        position: absolute;
        top: 0;
        left: 10vw;
        width: 1920px;
        z-index: 6;
    }

    .scene-clouds-two {
        position: absolute;
        top: 0;
        right: 3vw;
        width: 1920px;
        z-index: 7;
    }

    .scene-garden-left {
        position: absolute;
        width: 15%;
        left: 0;
        bottom: 0;
        z-index: 9;
    }

    .scene-garden-right {
        position: absolute;
        width: 18%;
        right: 0;
        bottom: 0;
        z-index: 8;
    }

    .scene-house {
        position: absolute;
        bottom: -5%;
        left: 0;
        width: 100%;
        z-index: 10;
    }

    .scene-forest-one {
        position: absolute;
        top: 0;
        right: 0;
        width: 30%;
        z-index: 12;
    }

    .scene-forest-two {
        position: absolute;
        top: -120px;
        left: 0;
        width: 20%;
        z-index: 11;
    }

}


main {
    .section-about-us {
        position: relative;
        display: flex;
        justify-content: center;

        .about-us {
            margin-top: 100px;
            width: 70%;

            h2 {
                letter-spacing: 3px;
            }

            .border {
                height: 3px;
                width: 170px;
                background-color: black;
                margin-bottom: 50px;
            }

            .about-us-content {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;

                .about-us-text {
                    width: 50%;

                    p {
                        text-align: justify;
                        font-weight: 400;
                    }
                }

                .about-us-img {
                    width: 50%;
                }
            }
        }
    }

    .section-products {
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 100px;
        padding: 100px 0;
        background-color: #c1001e;

        .products {
            width: 70%;

            h2 {
                letter-spacing: 3px;
                color: white;
            }

            .border {
                height: 3px;
                width: 170px;
                background-color: white;
                margin-bottom: 50px;
            }

            .products-content {
                display: flex;
                flex-direction: column;
                align-items: center;

                .products-text {
                    p {
                        text-align: justify;
                        font-weight: 400;
                        color: white;
                        text-align: justify;
                    }
                }

                .products-logo {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: end;
                    flex-wrap: wrap;

                    img {
                        margin: 60px 20px;
                        height: 100%;
                    }
                }
            }
        }
    }

    .section-offer {
        position: relative;
        display: flex;
        justify-content: center;
        padding: 100px 0;
        background-image: url(../img/housebcg.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;

        .offer {
            width: 70%;

            h2 {
                letter-spacing: 3px;
                color: white;
            }

            .border {
                height: 3px;
                width: 170px;
                background-color: white;
                margin-bottom: 50px;
            }

            .offer-content {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                p {
                    color: white;
                    text-align: justify;
                }

                .box {
                    width: 380px;
                    height: 400px;
                    background-color: white;
                    margin: 50px 0;
                }

                .contact {

                    img {
                        width: 100%;
                        padding: 1px;
                    }

                    .content {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        h3 {
                            font-weight: 400;
                            padding: 10px;
                        }

                        p {
                            padding: 20px 20px;
                            font-size: 0.9rem;
                            text-align: justify;
                            color: black;
                        }
                    }
                }
            }
        }
    }

    .section-gallery {
        position: relative;
        display: flex;
        justify-content: center;


        .gallery {
            width: 70%;

            h2 {
                margin-top: 100px;
                letter-spacing: 3px;
                color: black;
            }

            .border {
                height: 3px;
                width: 170px;
                background-color: black;
                margin-bottom: 50px;
            }

            .gallery-images {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                margin-top: 100px;

                .carousel-one-container {
                    overflow: hidden;
                    position: relative;

                    .carousel-one-slide {
                        display: none;
                        width: 100%;
                        opacity: 0;
                        transition: opacity 0.5s ease-in-out;

                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                }

                .prev-button,
                .next-button {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    padding: 8px 12px;
                    background-color: #333;
                    color: #fff;
                    border: none;
                    cursor: pointer;
                }

                .prev-button {
                    left: 10px;
                }

                .next-button {
                    right: 10px;
                }
            }
        }
    }

    .section-contact {
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 100px;
        padding: 100px 0;
        background-color: #c1001e;


        .contact {
            width: 70%;

            h2 {
                letter-spacing: 3px;
                color: white;
            }

            .border {
                height: 3px;
                width: 170px;
                background-color: white;
                margin-bottom: 50px;
            }

            .form-container {
                margin-top: 100px;

                .name-and-email {
                    display: flex;

                    .name-input {
                        width: 100%;
                        border-bottom: 1px solid rgb(255, 255, 255);
                        margin-right: 10px;

                        input {
                            border: none;
                            width: 100%;
                            background-color: transparent;
                            color: white;
                            font-size: 1rem;
                            padding: 5px 5px;
                        }

                        input:focus {
                            outline: none;
                        }
                    }

                    .email-input {
                        width: 100%;
                        border-bottom: 1px solid rgb(255, 255, 255);
                        margin-left: 10px;

                        input {
                            border: none;
                            width: 100%;
                            background-color: transparent;
                            color: white;
                            font-size: 1rem;
                            padding: 5px 5px;

                        }

                        input:focus {
                            outline: none;
                        }
                    }
                }

                .subject-input {
                    width: 100%;
                    margin: 20px 0;
                    border-bottom: 1px solid rgb(255, 255, 255);

                    input {
                        border: none;
                        width: 100%;
                        background-color: transparent;
                        color: white;
                        font-size: 1rem;
                        padding: 5px 5px;
                    }

                    input:focus {
                        outline: none;
                    }
                }

                .message-input {
                    width: 100%;
                    margin: 20px 0;
                    border-bottom: 1px solid rgb(255, 255, 255);

                    textarea {
                        border: none;
                        width: 100%;
                        background-color: transparent;
                        color: white;
                        font-size: 1rem;
                        font-family: "Poppins";
                        padding: 5px 5px;
                    }

                    textarea:focus {
                        outline: none;
                    }
                }

                .button-container {
                    text-align: center;
                    padding: 40px 0 70px 0;
                }

                .btn-send {
                    padding: 10px 50px;
                    background-color: transparent;
                    border: 1px solid white;
                    border-radius: 10px;
                    color: white;
                    font-size: 1rem;
                    text-transform: uppercase;
                    transition: 800ms;
                }

                .btn-send:hover {
                    background-color: white;
                    color: #c1001e;
                }
            }

            .phone {
                display: flex;
                flex-direction: column;
                align-items: center;

                p {
                    color: white;
                }

                .phone-number {
                    font-size: 2rem;
                    font-weight: 700;
                }
            }
        }
    }
}

footer {
    background-color: #313131;
    display: flex;
    justify-content: center;

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        padding: 70px 0;

        p {
            color: white;
            font-size: 0.9rem;
            text-align: center;
        }

        .author {
            margin-top: 20px;
            font-size: 0.7;
        }
    }
}

@media (max-width: 992px) {
    header {
        height: 50vh;

        nav {
            .container {
                display: flex;
                align-items: flex-start;

                .logo {
                    margin-top: 5px;

                    img {
                        width: 150px;
                    }

                    p {
                        display: none;
                    }
                }

                .menu {
                    margin-top: 5px;
                    align-items: flex-start;

                    .expand-menu {
                        position: absolute;
                        flex-direction: column;
                        align-items: flex-start;
                        background-color: white;
                        right: 15%;
                        top: 100%;
                        padding: 20px;

                        li {
                            a {
                                font-size: 0.8rem;
                            }
                        }
                    }

                    .hidden {
                        display: none;
                    }

                    .menu-icon {
                        margin-top: 3px;
                        display: flex;
                    }
                }
            }
        }

        .scene-clouds-one {
            top: -30%;
            left: -20%;
        }

        .scene-clouds-two {
            top: 30%;
        }

        .scene-forest-one {
            width: 50%;
        }

        .scene-forest-two {
            width: 23%;
            top: 15%;
        }
    }

    main {
        .section-about-us {
            .about-us {
                .about-us-content {
                    flex-direction: column;

                    .about-us-text {
                        width: 100%;
                    }

                    .about-us-image {
                        width: 100%;

                        img {
                            margin-top: 50px;
                            width: 100%;
                        }
                    }
                }
            }
        }

        .section-products {
            .products {
                .products-content {
                    .products-logo {
                        justify-content: center;

                        img {
                            width: 150px;
                            margin: 60px 20px 20px 20px;
                        }
                    }
                }
            }
        }

        .section-offer {
            .offer {
                .offer-content {
                    justify-content: center;
                }
            }
        }

        .section-gallery {
            .gallery {
                width: 90%;

                h2 {
                    margin-left: 11%;
                }

                .border {
                    margin-left: 11%;
                }

                .gallery-images {

                    .carousel-one-container {

                        .carousel-one-slide {
                            display: none;
                            width: 100%;
                            opacity: 0;
                            transition: opacity 0.5s ease-in-out;

                            img {
                                width: 100%;
                                height: auto;
                            }
                        }
                    }

                    .prev-button,
                    .next-button {
                        position: absolute;
                        top: 92%;
                        transform: translateY(-50%);
                        padding: 5px 10px;
                        background-color: #333;
                        color: #fff;
                        border: none;
                        font-size: 0.6rem;
                        cursor: pointer;
                    }
                }
            }
        }

        .section-contact {
            .contact {
                .form-container {
                    .name-and-email {
                        flex-direction: column;

                        .name-input {
                            margin-right: 0;
                        }

                        .email-input {
                            margin-left: 0;
                        }

                    }
                }
            }
        }
    }
}

@media (max-width: 992px) and (max-height: 450px) {
    header {
        height: 100vh;

        .scene-forest-one {
            width: 40%;
        }

        .scene-forest-two {
            width: 20%;
            top: -30%;
        }

        .scene-house {
            top: -30%
        }

        .scene-garden-left {
            bottom: -5%;
        }

        .scene-garden-right {
            bottom: 0;
        }
    }
}

@media (max-width: 1400px) {
    header {
        nav {
            .container {
                p {
                    display: none;
                }
            }
        }
    }
}